{% extends 'global/base.html' %}

{% block content %}
    <div class="single-contact">
        <h1 class="single-contact-name">
            {{ contact.first_name }} {{ contact.last_name }}
        </h1>
        <p class=""><b>ID: </b>{{ contact.id }}</p>
        <p class=""><b>E-mail: </b>{{ contact.email }}</p>
        <p class=""><b>Telefone: </b>{{ contact.phone }}</p>
        <p class=""><b>Data de criação: </b>{{ contact.created_date }}</p>
        <p class=""><b>Descrição: </b>{{ contact.description }}</p>
        <p class=""><b>Categoria: </b>{{ contact.category.name }}</p>
    </div>
{% endblock content %}